<div style="padding: 2%;">
    <div class="grid">
        <div class="col-6">
            <p-tree [value]="nodes" class="w-full md:w-30rem" layout="horizontal" [virtualScroll]="true">
                <ng-template let-node pTemplate="url">
                    <a [href]="node.data" target="_blank" rel="noopener noreferrer" class="text-700 hover:text-primary">{{ node.label }}</a>
                </ng-template>
                <ng-template let-node pTemplate="default">
                    <b>{{ node.label }}</b>
                </ng-template>
            </p-tree> 
        </div>
        <div class="col-6">
            <div class="grid">
                <div class="col-2">
                    <b>Hojas: </b> {{hojas}}
                </div>
                <div class="col-10">
                    <b>Print Arbol:</b> {{arboString}}
                </div>
                <div class="col-3">
                    <p-button label="Insertar" (onClick)="insertAction()"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>